[submodule "vim.symlink/bundle/dracula-theme"]
	path = vim.symlink/bundle/dracula-theme
	url = git@github.com:dracula/vim.git
[submodule "vim.symlink/bundle/lightline.vim"]
	path = vim.symlink/bundle/lightline.vim
	url = git@github.com:itchyny/lightline.vim
[submodule "vim.symlink/bundle/vim-gitbranch"]
	path = vim.symlink/bundle/vim-gitbranch
	url = git@github.com:itchyny/vim-gitbranch
[submodule "vim.symlink/bundle/editorconfig-vim"]
	path = vim.symlink/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "vim.symlink/bundle/nerdtree"]
	path = vim.symlink/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim.symlink/bundle/nerdtree-git-plugin"]
	path = vim.symlink/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "vim.symlink/bundle/vim-snippets"]
	path = vim.symlink/bundle/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule "vim.symlink/bundle/vim-snipmate"]
	path = vim.symlink/bundle/vim-snipmate
	url = git@github.com:garbas/vim-snipmate.git
[submodule "vim.symlink/bundle/tlib_vim"]
	path = vim.symlink/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim.symlink/bundle/vim-addon-mw-utils"]
	path = vim.symlink/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim.symlink/bundle/vim-gitgutter"]
	path = vim.symlink/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim.symlink/bundle/vim-commentary"]
	path = vim.symlink/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim.symlink/bundle/surround"]
	path = vim.symlink/bundle/surround
	url = https://tpope.io/vim/surround.git
[submodule "vim.symlink/bundle/vim-coffee-script"]
	path = vim.symlink/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim.symlink/bundle/ctrlp.vim"]
	path = vim.symlink/bundle/ctrlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "vim.symlink/bundle/vim-endwise"]
	path = vim.symlink/bundle/vim-endwise
	url = git@github.com:tpope/vim-endwise.git
[submodule "vim.symlink/bundle/auto-pairs"]
	path = vim.symlink/bundle/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "vim.symlink/bundle/vim-wakatime"]
	path = vim.symlink/bundle/vim-wakatime
	url = git://github.com/wakatime/vim-wakatime.git
[submodule "vim.symlink/bundle/vim-multiple-cursors"]
	path = vim.symlink/bundle/vim-multiple-cursors
	url = git@github.com:terryma/vim-multiple-cursors.git
[submodule "vim.symlink/bundle/onedark.vim"]
	path = vim.symlink/bundle/onedark.vim
	url = https://github.com/joshdick/onedark.vim
[submodule "vim.symlink/bundle/vim-polyglot"]
	path = vim.symlink/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "vim.symlink/bundle/vim-fugitive"]
	path = vim.symlink/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim.symlink/bundle/coc.nvim"]
	path = vim.symlink/bundle/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "vim.symlink/bundle/vim-surround"]
	path = vim.symlink/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim.symlink/bundle/vim-bbye"]
	path = vim.symlink/bundle/vim-bbye
	url = https://github.com/moll/vim-bbye
[submodule "vim.symlink/bundle/vim-ruby"]
	path = vim.symlink/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim.symlink/bundle/vim-rails"]
	path = vim.symlink/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim.symlink/bundle/vim-rake"]
	path = vim.symlink/bundle/vim-rake
	url = https://github.com/tpope/vim-rake.git
[submodule "vim.symlink/bundle/vim-bundler"]
	path = vim.symlink/bundle/vim-bundler
	url = https://github.com/tpope/vim-bundler.git
[submodule "vim.symlink/bundle/vim-unimpaired"]
	path = vim.symlink/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim.symlink/bundle/indentLine.vim"]
	path = vim.symlink/bundle/indentLine.vim
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim.symlink/bundle/vim-laravel"]
	path = vim.symlink/bundle/vim-laravel
	url = https://github.com/noahfrederick/vim-laravel.git
[submodule "vim.symlink/bundle/vim-composer"]
	path = vim.symlink/bundle/vim-composer
	url = https://github.com/noahfrederick/vim-composer.git
[submodule "vim.symlink/bundle/vim-eunuch"]
	path = vim.symlink/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
