[submodule "vim.symlink/bundle/dracula-theme"]
	path = vim.symlink/bundle/dracula-theme
	url = git@github.com:dracula/vim.git
[submodule "vim.symlink/bundle/lightline.vim"]
	path = vim.symlink/bundle/lightline.vim
	url = git@github.com:itchyny/lightline.vim
[submodule "vim.symlink/bundle/vim-gitbranch"]
	path = vim.symlink/bundle/vim-gitbranch
	url = git@github.com:itchyny/vim-gitbranch
[submodule "vim.symlink/bundle/editorconfig-vim"]
	path = vim.symlink/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "vim.symlink/bundle/nerdtree"]
	path = vim.symlink/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim.symlink/bundle/nerdtree-git-plugin"]
	path = vim.symlink/bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "vim.symlink/bundle/vim-snippets"]
	path = vim.symlink/bundle/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule "vim.symlink/bundle/vim-snipmate"]
	path = vim.symlink/bundle/vim-snipmate
	url = git@github.com:garbas/vim-snipmate.git
[submodule "vim.symlink/bundle/tlib_vim"]
	path = vim.symlink/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim.symlink/bundle/vim-addon-mw-utils"]
	path = vim.symlink/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim.symlink/bundle/vim-gitgutter"]
	path = vim.symlink/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim.symlink/bundle/vim-commentary"]
	path = vim.symlink/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim.symlink/bundle/surround"]
	path = vim.symlink/bundle/surround
	url = https://tpope.io/vim/surround.git
[submodule "vim.symlink/bundle/vim-coffee-script"]
	path = vim.symlink/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
