atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/blob-store
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
atom.symlink/dev
atom.symlink/recovery
atom.symlink/linter-config.json
atom.symlink/package-deps-state.json

git/gitconfig.local.symlink
