"*":
  "atom-autocomplete-php":
    binComposer: "/Users/arandilopez/.bin/composer"
    binPhp: "/usr/local/bin/php"
    insertNewlinesForUseStatements: true
    verboseErrors: true
  "atom-package-deps":
    ignored: []
  "autocomplete-php":
    executablePath: "/usr/local/bin/php"
  "autocomplete-plus": {}
  "autocomplete-python":
    pythonPaths: "/Users/arandilopez/.anacoda/bin"
    useKite: false
    useSnippets: "required"
  autosave:
    enabled: true
  "copy-highlighted":
    style: "atom-one-light"
  "copy-with-style":
    preset1:
      background_color: "#36474f"
      external_command: "copy_as_html"
      font_family: "Fira Mono"
      font_size: 18
      name: "Copy for Google Docs"
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "language-clojure"
      "language-csharp"
      "autocomplete-R"
      "autocomplete-python"
      "edge"
      "language-elixir"
      "language-kotlin"
      "language-liquid"
      "language-lua"
      "language-nunjucks"
      "language-r"
      "language-rust"
      "react"
      "color-picker"
      "linter-rust"
      "linter-lintr"
      "markdown-pdf"
      "language-objective-c"
      "language-perl"
      "copy-with-style"
    ]
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      ".idea"
      ".sass-cache"
      ".DS_Store"
    ]
    packagesWithKeymapsDisabled: []
    projectHome: "/Users/arandilopez/Code"
    telemetryConsent: "limited"
    themes: [
      "nucleus-dark-ui"
      "dracula-syntax"
    ]
  editor:
    fontFamily: "Fira Mono"
    fontSize: 16
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  github: {}
  "go-plus":
    goPath: "/Users/holman/Code/go"
  latex:
    enableShellEscape: true
    engine: "lualatex"
    opener: "pdf-view"
  linter: {}
  "linter-gcc":
    gccDefaultCFlags: "-c -Wall -fsyntax-only"
    gccDefaultCppFlags: "-c -Wall -std=c++11 -fsyntax-only"
    gccErrorLimit: -1
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
    lintInlineJavaScript: true
    lintJSXFiles: true
  "linter-php":
    executablePath: "/usr/local/bin/php"
  "linter-pycodestyle":
    executablePath: "pep8"
    maxLineLength: 120
  "linter-ruby":
    ignoredExtensions: [
      "md"
    ]
    rubyExecutablePath: "/Users/arandilopez/.rbenv/shims/ruby"
  "linter-ui-default":
    hidePanelWhenEmpty: true
    panelHeight: 60
    showPanel: true
  "markdown-pdf":
    format: "Letter"
    orientation: "landscape"
  "markdown-preview":
    useGitHubStyle: true
  "nord-atom-ui":
    darkerFormFocusEffect: true
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
    locales: [
      "en-US"
      "es-MX"
      "es-ES"
    ]
  "tree-view":
    focusOnReveal: false
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  "wakatime-hidden":
    lastInit: 1492529052
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
".haml.text":
  editor:
    autoIndentOnPaste: true
".hamlc.text":
  editor:
    autoIndentOnPaste: true
".html.php.text":
  editor:
    tabLength: 4
".makefile.source":
  editor:
    showIndentGuide: true
    showInvisibles: true
    tabType: "hard"
