"*":
  "atom-autocomplete-php":
    binComposer: "/Users/arandilopez/.bin/composer"
    binPhp: "/usr/local/bin/php"
    insertNewlinesForUseStatements: true
    verboseErrors: true
  "autocomplete-php":
    executablePath: "/usr/local/bin/php"
  "autocomplete-plus": {}
  "autocomplete-python":
    pythonPaths: "/Users/arandilopez/.anacoda/bin"
    useKite: false
    useSnippets: "required"
  autosave:
    enabled: true
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "atomify"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      ".idea"
      ".sass-cache"
      ".DS_Store"
      "node_modules"
    ]
    openEmptyEditorOnStart: false
    projectHome: "/Users/arandilopez/Code"
    telemetryConsent: "limited"
    themes: [
      "nucleus-dark-ui"
      "dracula-theme"
    ]
    useCustomTitleBar: true
  editor:
    fontFamily: "Fira Mono"
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
  "go-plus":
    goPath: "/Users/holman/Code/go"
  latex:
    enableShellEscape: true
    opener: "pdf-view"
  "linter-gcc":
    gccDefaultCFlags: "-c -Wall -fsyntax-only"
    gccDefaultCppFlags: "-c -Wall -std=c++11 -fsyntax-only"
    gccErrorLimit: -1
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
    lintInlineJavaScript: true
    lintJSXFiles: true
  "linter-php":
    executablePath: "/usr/local/bin/php"
  "linter-pycodestyle":
    executablePath: "pep8"
    maxLineLength: 120
  "markdown-pdf":
    format: "Letter"
    orientation: "landscape"
  "nord-atom-ui":
    darkerFormFocusEffect: true
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  "tree-view":
    hideIgnoredNames: true
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  "wakatime-hidden":
    lastInit: 1488714575
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
