"*":
  "atom-autocomplete-php":
    binComposer: "/Users/arandilopez/.bin/composer"
    binPhp: "/usr/local/bin/php"
    insertNewlinesForUseStatements: true
    verboseErrors: true
  "atom-package-deps":
    ignored: []
  "autocomplete-php":
    executablePath: "/usr/local/bin/php"
  "autocomplete-plus": {}
  "autocomplete-python":
    pythonPaths: "/Users/arandilopez/.anacoda/bin"
    useKite: false
    useSnippets: "required"
  autosave:
    enabled: true
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      ".idea"
      ".sass-cache"
      ".DS_Store"
    ]
    projectHome: "/Users/arandilopez/Code"
    telemetryConsent: "limited"
    themes: [
      "nucleus-dark-ui"
      "dracula-theme"
    ]
  editor:
    fontFamily: "Fira Mono"
    fontSize: 15
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "go-plus":
    goPath: "/Users/holman/Code/go"
  latex:
    enableShellEscape: true
    opener: "pdf-view"
  "linter-gcc":
    gccDefaultCFlags: "-c -Wall -fsyntax-only"
    gccDefaultCppFlags: "-c -Wall -std=c++11 -fsyntax-only"
    gccErrorLimit: -1
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
    lintInlineJavaScript: true
    lintJSXFiles: true
  "linter-php":
    executablePath: "/usr/local/bin/php"
  "linter-pycodestyle":
    executablePath: "pep8"
    maxLineLength: 120
  "linter-ruby":
    ignoredExtensions: [
      "md"
    ]
    rubyExecutablePath: "/Users/arandilopez/.rbenv/shims/ruby"
  "linter-ui-default":
    showPanel: true
  "markdown-pdf":
    format: "Letter"
    orientation: "landscape"
  "markdown-preview":
    useGitHubStyle: true
  "nord-atom-ui":
    darkerFormFocusEffect: true
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
    locales: [
      "en-US"
      "es-MX"
    ]
  "tree-view":
    hideIgnoredNames: true
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  "wakatime-hidden":
    lastInit: 1492529052
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
".html.php.text":
  editor:
    tabLength: 4
