'.source.php':
  'Closure':
    'prefix': 'f',
    'body': """
        function (${1:$var}) {
            ${2:// code...}
        }
      """

'.source.js':
  'Return':
    'prefix': 'ret',
    'body': 'return $1;'
